
<link rel="stylesheet" href="style.css">

<div class="footer">
    <div class="link1">
        <h3>HANDIGE LINKS</h3>
        <a href="#">Home</a> 
        <a href="#">Mijn account</a> 
        <a href="#">Filteren</a> 
        <a href="#">Favorieten</a> 
    </div>     
    <div class="link2"> 
        <h3>NIEUWSBRIEF</h3>   
        <form>
            <input type="text" placeholder="Voer uw e-mailadres in">
            <button type="submit">Abonneer nu!</button>
        </form>
    </div> 
    <div class="link3">
        <h3>CONTACT</h3>
        <p>Keizersgracht 456-2
            1016 GE Amsterdam</p>
        
            <img src="images/nieuwlogo.png">
    </div>      

</div>
