<header>
    <a href="/overzicht">
        <img id="logo" src="/logo-variants/text-only-logo.png">   
    </a>

    <button class="open-menu">☰</button>

    <nav class="nav-menu">
        <button class="sluit-menu">✕</button>

        <a href="/filter">Vind uw baan</a>
        <a href="/favorites">Favorieten</a>
        <a href="/profiel">
            <img id="profileIcon" src="/images/profiel.png">
        </a>
        <label class="switch">
            <input type="checkbox" id="darkToggle">
            <span class="slider"></span>
        </label>
    </nav>
    <script src="/script.js"></script>
</header>
