<header>
    <div class="logo-styling">
        <a href="/overzicht">
            <img id="logo" src="/logo-variants/text-only-logo.png" alt="logo">       
        </a>
    </div>

    <button class="open-menu">☰</button>

    <nav class="nav-menu">
        <button class="sluit-menu">✕</button>

        <a href="/filter">Vind uw baan</a>
        <a href="/favorites">Favorieten</a>
        <a href="/profiel">
            <% if (locals.user && locals.user.profielfoto) { %>
                <img src="<%= user.profielfoto %>" alt="profiel icoon" class="header-avatar">
            <% } else { %>
                    <img id="profileIcon" src="/images/profiel.png" alt="profiel icoon">
           
            <% } %>
        </a>
        <label class="switch">
            <input type="checkbox" id="darkToggle">
            <span class="slider"></span>
        </label>
    </nav>
        
    <script src="/script.js"></script>
</header>
 