<header>
    <a href="/overzicht">
        <img src="/logo-variants/text-only-logo.png" alt="logo">       
    </a>

    <button class="open-menu">☰</button>

    <nav class="nav-menu">
        <button class="sluit-menu">✕</button>

        <a href="/filter">Vind uw baan</a>
        <a href="/favorites">Favorieten</a>
        <a href="/profiel">
            <img src="images/profiel.png" alt="profiel icoon">
        </a>
    </nav>
    <script src="/script.js"></script>
</header>
