<header>
    <a href="/overzicht">
        <img id="logo" src="/logo-variants/text-only-logo.png">      
    </a>

    <button class="open-menu">☰</button>

    <nav class="nav-menu">
        <button class="sluit-menu">✕</button>

        <a href="/filter">Vind uw baan</a>
        <a href="/favorites">Favorieten</a>
        
                    <% if (user) { %>
    <a href="/uitlog">Uitloggen</a>

    <a href="/profiel">
        <img id="profileIcon" src="/images/profiel.png">
    </a>
<% } else { %>
    <a href="/inlog">Inloggen</a>
<% } %>
        </a>
        
    <script src="/script.js"></script>
</header>
