<!DOCTYPE html>
<html>

<head>
    <title>404 - Pagina niet gevonden</title>
    <link rel="stylesheet" href="style.css">
</head>


<body class="error">
    <h1>404</h1>
    <img src="images/notfound.png" alt="404 not found">
    <p>Oeps! Deze pagina bestaat niet.</p>
    <a href="/">Ga terug naar home</a>

</body>

</html>