<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobconnect</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main class="indexpage">
        <h1>Vind de juiste baan. Bouw je toekomst!</h1>
        <p>Welkom bij een professioneel platform voor het vinden van de perfecte baan, ontworpen om je te verbinden met kansen die echt aansluiten bij jouw vaardigheden, ambities en voorkeuren. Of je nu aan het begin van je carrière staat of op zoek bent naar de volgende stap, wij staan ​​klaar om je te ondersteunen.
        </p>
       
        <div class="actions">
            <a href="inlog">Inloggen</a>
            <a href="registratie">Registreren</a>
        </div>
    </main>
  

    <footer>
    </footer>
</body>

</html>