<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profiel</title>
</head>
<header>
    <%- include('../partials/header') %>
</header>
<body>
    <h1>Welkom bij je profiel</h1>
</body>
</html>