/******************************/
/*         CSS REMEDY         */
/******************************/

::before, ::after { 
  box-sizing: border-box; 
}

body { 
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/******************************/
/*     CUSTOM PROPERTIES      */
/******************************/
:root {
    --text-color:#323232;
    --common-background-color:#fafafa;
    --blue-background-color:#E6F0F9;
    --button-color:#3F66F3;
    --searchbar-color:#EDECEC;
    --yellow-button-color:#FDFAD1;
    --warning-color:#D90000;
    --cards: #e5f0f9; 
}

@font-face {
  font-family: 'Poppins-regular', sans-serif;
  src:url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-bold', sans-serif;
  src:url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  font-weight: 700;
  font-style: normal;
}


/******************************/
/*     ALGEMENE STIJLEN       */
/******************************/

h1 {
    font-family:'Poppins-bold', sans-serif;
    font-size: 3em;
    color:var(--text-color);
}

h2 {
    font-family:'Poppins-bold', sans-serif;
    font-size: 1.5em;
    color:var(--text-color);
}

p {
    font-family:'Poppins-regular', sans-serif;
    font-size: 0.8em;
    color:var(--text-color);
}



/******************************/
/*           HEADER           */
/******************************/



/******************************/
/*        FILTER PAGINA       */
/******************************/


a {
  text-decoration: none;
  color: black;
}

.dropdown {
  display: none;
  list-style: none;
}

li:hover .dropdown {
  display: block;
}


/******************************/
/*        JOB CARDS       */
/******************************/



.jobCard {
  background-color: var(--cards);
  margin: 1em;
  padding: 2em;
  border-radius: 1em;
  width: 30%;
}

.jobCard a {
  background-color: var(--button-color);
  padding: 0.8em;
  border-radius: 0.6em;
  color: var(--common-background-color);
  font-family:'Poppins-regular', sans-serif;
  font-weight: lighter;
  padding-left: 3em;
  padding-right: 3em;

}

.card-header {
  display: grid;
  grid-template-columns: 1fr auto; /* Links pakt alle ruimte, Rechts pakt wat nodig is */
  align-items: start;
  width: 100%;

}

.jobCard h1 {
  font-size: 1.1em;
}

.jobCard h2 {
  font-size: 1em;
  font-weight: normal;
}

.tekst {
  margin-bottom: 3em;
}



/******************************/
/*          FOOTER           */
/******************************/